body{
  font-size: 16px;
  max-width: 960px;
  margin: 0 auto;
}

/*Main Page*/

/*header*/

.siteHeader{
  background-color: black;
}
header h1 {
  text-align: center;
  color: white;
  font-size: 6em;
  padding: 10px;
}

/*Navigation*/

.siteNav{
  text-align: center;
}

.siteNavTab{
  display: inline-block;
  padding: 5px 70px;
  margin: 10px 0 10px 0;
  border: 3px solid black;

}

.siteNavTab a{
  text-decoration: none;
  color: black;
  font-size: 4em;
}

/*Body*/

h2{
  font-size: 4em;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 10px;
}


/*Master Mind Game*/


.guessANumber{
  font-size: 3em;
  padding: 60px 0 20px 10px;
}

.userGuess{
  padding: 30px;
  font-size: 30px;
}

.userGuessButton{
  margin: 50px;
  padding: 20px 0 20px 0;
  font-size: 30px;
  font-style: bold;
}

.outputBox{
  border: black solid 2px;
}
p{
  font-size: 30px;
  font-weight: bold;
}
