body{
  font-size: 16px;
  max-width: 960px;
  margin: 0 auto;
  /*background-color: #34D1BF;*/
}

/*li {
  background-color: #331832;
}*/

/*Main Page*/

/*header*/

.siteHeader{
  background-color: black;
}
header h1 {
  text-align: center;
  color: white;
  font-size: 6em;
  padding: 10px;
}

/*Navigation*/

.siteNav{
  text-align: center;
}

.siteNavTab{
  display: inline-block;
  padding: 5px 70px;
  margin: 10px 0 10px 0;
  border: 3px solid black;

}

.siteNavTab a{
  text-decoration: none;
  color: black;
  font-size: 4em;
}

/*Body*/

h2{
  font-size: 4em;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 10px;
}


/*Master Mind Game*/


.guessANumber{
  font-size: 3em;
  padding: 60px 0 20px 10px;
}

.guessBox{
  width: 150px;
  height: 150px;
  border: 4px solid blue;
  text-align: center;
  font-size: 4em;
}

#userGuess{
  padding: 30px;
  font-size: 30px;
}

#userGuessButton{
  margin: 50px;
  padding: 20px 0 20px 0;
  font-size: 30px;
  font-style: bold;
}

.output-table{
  border: 2px solid black;
  border-collapse: collapse;
  border-sizing: border-box
}

.tableRow, .tableRow{
  margin: 0 auto;
  font-size: 3em;
  border: 2px solid black;
}

#myChart{
  border: 30px;
  height: 400px;
  width: 300px;
}


.outputTitle{
  font-size: 3em;
  padding: 10px;
  font-style: bold;
  text-decoration: underline;
}

td{
  border-right: solid 2px black;
  font-size: 2em;
  padding: 40px 10px 40px 0;
}

td:first-child{
  vertical-align: bottom;
}

tr:last-child td{
  border-bottom: solid 2px black;
}

p{
  font-size: 30px;
  font-weight: bold;
}
